@keyframes animation_page {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.animation_page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(https://usercontents-c.styleshare.io/images/37696383/640x-);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: animation_page 1s ease-in-out 1s forwards;
}

.animation_page i {
  font-size: 130px;
  color: #f6d6d5;
}
