.a {
  color: inherit;
}

@keyframes navigation-bar_animation {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.navigation-bar {
  width: 100%;
  position: absolute;
  bottom: 0px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  box-sizing: border-box;
  background-color: #fbfafb;
  position: fixed;
  animation: navigation-bar_animation 1s ease-in-out forwards;
}

.navigation-bar-span {
  padding: 4px 8px;
  background-color: tomato;
  color: white;
  font-size: 13px;
  border-radius: 50%;
  position: fixed;
  left: 210px;
  bottom: 45px;
}

.navigation-bar-span-second {
  padding: 3px;
  background-color: tomato;
  border-radius: 50%;
  position: fixed;
  right: 43px;
  bottom: 52px;
}
