.top-menu {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 700;
  margin: 30px 5px;
}

.top-menu i {
  font-size: 25px;
  margin: 0 0 0 20px;
}

.top-menu div:nth-child(2) {
  display: flex;
  align-items: center;
}

@keyframes cog_animation {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.fa-cog:hover {
  animation: cog_animation 3s linear infinite;
}
