.top-menu-setting {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0;
  padding-left: 10px;
  padding-right: 30px;
  box-sizing: border-box;
}
