@import "component/status-bar.css";
@import "component/top-menu.css";
@import "component/profile.css";
@import "component/bar.css";
@import "component/navigation-bar.css";
@import "component/reset.css";
@import "component/screen-size.css";
@import "component/variable.css";

body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.profile div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.profile div:nth-child(2) span:last-child {
  font-size: 16px;
  opacity: 0.5;
}

.profile div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile div:last-child span:last-child {
  padding: 3px 8px;
  background-color: tomato;
  font-size: 13px;
  color: white;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
}

.profile div:last-child span:nth-child(1) {
  font-size: 15px;
  padding-bottom: 5px;
}

.profile {
  padding: 20px 5px;
  border-radius: 10px;
}

.profile:hover {
  background-color: skyblue;
}
